<h1>Group Results</h1>

<div id="card-matrix" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 no-padding">
            <div class="row" id="quadrant-one"></div>
        </div>
        <div class="col-xs-12 col-sm-6 no-padding">
            <div class="row" id="quadrant-two"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 no-padding">
            <div class="row" id="quadrant-three"></div>
        </div>
        <div class="col-xs-12 col-sm-6 no-padding">
            <div class="row" id="quadrant-four"></div>
        </div>
    </div>
</div>
<br>
<h1>Individual Results</h1>
<h1 id="ind-title"></h1>
<h4 id="ind-summary"></h4>
<script>
    let groupuser = "{{ groupuser }}";
</script>
<script src="/js/groupresults.js"></script>